@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Invitation Generator</h1>
    <a asp-action="Index" asp-controller="Invitation" class="btn btn-primary mt-3">Invitation Generator</a>
</div>
